* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline-style: none;
    outline-width: 0px;
    outline-color: -moz-use-text-color;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.table {
  text-align: center;
}

.btn-success {
  text-align: center;
}

/*.fixed {
  display: block;
  position: relative;
}

.scrollable {
  display: block;
  height: 264px;
  overflow: auto;
  width: 100%;
}*/

footer {
  text-align: center;
  font-size: 12px;
}
